{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header %}
    <a id="logo" href="{{ path('homepage') }}">
        <button>
            Homepage
        </button>
    </a>
{% endblock %}