.center{
    text-align: center;
}
.center-block{
    margin: auto;
}

.noneDecoration:focus{
    text-decoration: none;
    color: black;
}
.noneDecoration:hover{
    text-decoration: none;
    color: black;
}
.noneDecoration{
    text-decoration: none;
    color: black;
}

.label{
    margin-top: 7px;
}

.menu{
    background: #343a40;
    color: #9c9ea1;
    border: 3px solid #000000;
    text-align: center;
    height: 150px;
    width: 100%;
    position: fixed;

}
.menu .button{
    margin: 10px 0;
}

.menu-noneDecoration:focus{
    text-decoration: none;
    color: #9c9ea1;
}
.menu-noneDecoration:hover{
    text-decoration: none;
    color: white;;
}
.menu-noneDecoration{
    text-decoration: none;
    color: #9c9ea1;
}

.add_in_basket:hover{
    color: #046200;
}
.add_in_basket{
    color: #111111;
    text-align: right;
    float: right;
}

.hidden{
    display: none;
}
.basket-number{
    width: 50px;
    text-align: center;
}

.gold-item{
    color: #ffc006;
}
.silver-item{
    color: #10afb5f7;
}
.bronze-item{
    color: #efa346;
}

.label-button{
    height: 38px;
    cursor: pointer;
}

#flush-block{
    position: fixed;
    right: 0;
    top: 50px;
}