.product{
    background: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}
.productHead{
    background: #343a40;
    color: white;
}
.productTitle{
    padding: 10px;

}
.productBody{
    padding: 0 10px;
}
.productPrice{
    padding: 0 10px;
    color: #bb3447;
}
.buttonSort:hover{
    color: dimgrey;
}
.buttonSort{
    margin: 0 20px;
    background: #f8f9fa;
    border: none;
}
.productImage{
    width: 49%;
    margin: auto;
    display: inline-block;
}
.productImage .Image{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 3px;
    border-radius: 3px;
}
.productImage_one{
    width: 500px;
    margin: auto;
}
.productImage_one .image_one{
    width: 500px;
    border: 2px solid black;
    margin-bottom: 3px;
}

.filtration-window {
    background: #f8f9fa;
    padding: 0 40px;
}
.filtration-buttons {
    margin: 10px 0;
}
.filtration-form {
    width: 50%;
    padding: 0 40px;
    margin: auto;
}
#distance-range {
    margin: 30px 0;
}

