.product{
    background: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}
.productHead{
    background: #343a40;
    color: white;
}
.productTitle{
    padding: 10px;

}
.productBody{
    padding: 0 10px;
}
.productPrice{
    padding: 0 10px;
    color: #bb3447;
}
.buttonSort:hover{
    background: #f38181;
}
.buttonSort{
    width: 48%;
    display: inline-block;
    border: 1px solid black;
    font-size: 10px;
    background: #f3818169;
    color: white
}
.arrowSort{
    color: white;
}
.productImage{
    width: 49%;
    margin: auto;
    display: inline-block;
}
.productImage .Image{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 3px;
    border-radius: 3px;
}
.productImage_one{
    width: 500px;
    margin: auto;
}
.productImage_one .image_one{
    width: 500px;
    border: 2px solid black;
    margin-bottom: 3px;
}