.comments{
    margin-left: 50px;
}
.comment{
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 3px;
}
.comment_head{
    background: #0257b7;
    color: white;
    padding: 2px;
    text-align: center;
}
.comment_body{
    padding: 10px;
}
.comment_created{
    font-size: 10px;
    margin: 0;
    color: #000000b8;
    text-align: right;
}